@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


html, body {
  background: #f7f7f7;
}

@layer utilities {
  @media (max-width: 900px) {

    /* Background */
    .max-xl2\:bg-blue-400 {
      @apply bg-blue-400;
    }

    /* Text color */
    .max-xl2\:text-green-500 {
      @apply text-green-500;
    }

    /* Width */
    .max-xl2\:w-1\/2 {
      width: 50%;
    }
  }
}