.banbe-daduocchon {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 15px; /* thiếu px nè */
    overflow-x: auto;

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: #555 #ddd;
}

/* Chrome, Edge, Safari */
.banbe-daduocchon::-webkit-scrollbar {
    height: 5px; /* chiều cao scrollbar ngang */
}

.banbe-daduocchon::-webkit-scrollbar-track {
    background: #ddd; /* màu nền thanh */
    border-radius: 10px;
}

.banbe-daduocchon::-webkit-scrollbar-thumb {
    background: #555; /* màu xám đen */
    border-radius: 10px;
}

.banbe-daduocchon::-webkit-scrollbar-thumb:hover {
    background: #333;
}